{% extends "base.html" %}
{% block title %}设备控制{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body puman">
                    <h2>
                        设备控制
                    </h2>
                    <hr/>
                    <table class="table table-hover" style="margin-bottom:0">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>设备名称</th>
                            <th>设备型号</th>
                            <th>设备状态</th>
                            <th>设备操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for dev in devices %}
                            <tr>
                                <th scope="row">{{ loop.index }}</th>
                                <td>{{ dev.name }}</td>
                                <td>{{ dev.type }}</td>
                                <td>{{ dev.state }}</td>
                                <td style="width: 30%">
                                    <div class="col-xs-2">
                                        <button class="btn btn-block btn-success" data-switch-color="primary">打开

                                        </button>
                                    </div>
                                    <div class="col-xs-2">
                                        <button class="btn btn-block btn-primary" data-switch-color="primary">关闭
                                        </button>
                                    </div>
                                    <div class="col-xs-2">
                                        <button class="btn btn-block btn-warning" data-switch-color="primary">报警
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">
                        Modal title
                        <a class="anchorjs-link" href="#myModalLabel"><span class="anchorjs-icon"></span></a>
                    </h4>
                </div>
                <div class="modal-body">
                    <h4 id="text-in-a-modal">
                        Text in a modal
                        <a class="anchorjs-link" href="#text-in-a-modal"><span class="anchorjs-icon"></span></a>
                    </h4>
                    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
                    <hr>
                    <h4 id="popover-in-a-modal">
                        Popover in a modal
                        <a class="anchorjs-link" href="#popover-in-a-modal"><span class="anchorjs-icon"></span></a>
                    </h4>
                    <p>This <a href="#" role="button" class="btn btn-default popover-test" title=""
                               data-content="And here's some amazing content. It's very engaging. right?"
                               data-original-title="A Title">button</a> should trigger a popover on click.</p>
                    <hr>
                    <h4 id="tooltips-in-a-modal">
                        Tooltips in a modal
                        <a class="anchorjs-link" href="#tooltips-in-a-modal"><span class="anchorjs-icon"></span></a>
                    </h4>
                    <p><a href="#" class="tooltip-test" title="" data-original-title="Tooltip">This link</a> and <a
                            href="#" class="tooltip-test" title="" data-original-title="Tooltip">that link</a>
                        should have tooltips on hover.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
{% endblock %}